*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  /*font-size: 16px;*/
  line-height: 1.7;
  padding: 3rem;
  text-align: center;
  margin-top: 5rem; }

.social {
  display: flex; }

.social-icons {
  text-align: center; }

.icon {
  margin: 0 10px; }

.social {
  display: flex; }

.social-icons {
  text-align: center; }

.icon {
  margin: 0 10px; }

.header {
  display: flex; }
  .header--img {
    margin: 7rem auto;
    max-width: 80%; }

.navigation {
  margin-top: 5rem;
  margin-bottom: 11rem; }
  .navigation__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around; }
    .navigation__list li > a {
      text-decoration: none;
      font-family: helvetica;
      font-size: 1.2rem;
      letter-spacing: 1%;
      color: #312323;
      text-transform: uppercase;
      font-weight: 100; }
