*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  display: flex; }

body {
  box-sizing: border-box;
  justify-content: center; }

.heading-primary {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  /*font-size: 16px;*/
  line-height: 1.7;
  padding: 3rem;
  text-align: center;
  margin-top: 5rem;
  color: #0d3a6d; }

.heading-secondary {
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 5rem 0;
  color: #0d3a6d; }

.paragraph, .intro-para {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  color: #0d3a6d; }

.intro-para {
  padding: 0 95px;
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 29px;
  color: #0d3a6d;
  text-align: center; }

.para-container {
  display: flex;
  border: none; }

.about-para {
  padding: 24px 54px;
  font-size: 1.6rem;
  align-items: center;
  line-height: 23px;
  font-family: "Lato", sans-serif;
  line-height: 27px;
  color: #0d3a6d; }

.footer-para {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 25px;
  color: #0d3a6d; }

.social {
  display: flex; }

.social-icons {
  text-align: center;
  margin-bottom: 16rem; }

.icon {
  margin: 0 10px; }

.footer-icon {
  margin-bottom: 3rem; }

.voc-intro, .cic-intro {
  text-align: center; }

.voc {
  display: grid;
  width: 850px;
  height: 530px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 170px);
  grid-gap: 7px;
  margin: 9rem auto;
  padding: 0 2rem;
  text-align: center;
  overflow: hidden; }

.title {
  grid-column: 2 / 6;
  grid-row: 1 / 2; }

.para {
  color: #e86354; }

.parac {
  color: #0055ff; }

.paragraph {
  transition: background 1s, transform .7s ease-in;
  padding: 24px 38px;
  text-align: center;
  border: 1px solid #595959;
  font-size: 1.6rem;
  align-items: center; }

.paragraph:hover {
  padding-top: 18px; }

.p-erfahren {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.p-blockaden {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.p-ziele {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.voc-img {
  grid-column: span 2;
  grid-row: span 3;
  width: 100%;
  max-height: 100%; }

.p-berufsmusiker {
  grid-column: 4 / 5;
  grid-row: 1/ 2;
  padding-top: 22px;
  padding-bottom: 5px; }

.p-studioquali {
  grid-column: 4 / 5;
  grid-row: 2 / 3; }

.p-technic {
  grid-column: 4 / 5;
  grid-row: 3/ 4; }

.voc__button {
  margin: 5rem;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  justify-self: center;
  align-self: flex-start; }

.cic {
  display: grid;
  width: 850px;
  height: 530px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 170px);
  grid-gap: 7px;
  margin: 9rem auto;
  padding: 0 2rem;
  text-align: center;
  overflow: hidden; }

.p-vernetzen {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.p-geschenk {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.p-modernen {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.cic-img {
  grid-column: span 2;
  grid-row: span 3;
  max-height: 100%;
  width: 100%; }

.p-workshop {
  grid-column: 4 / 5;
  grid-row: 1/ 2;
  padding-top: 22px;
  padding-bottom: 5px; }

.p-veranstalten {
  grid-column: 4/ 5;
  grid-row: 2 / 3; }

.p-lieben {
  grid-column: 4 / 5;
  grid-row: 3/ 4;
  padding-top: 45px; }

.button {
  width: 171px;
  height: 52px;
  border: 1px #0d3a6d solid;
  font-size: 1.4rem;
  line-height: 124.9%;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin-bottom: 5rem;
  color: #0d3a6d; }

@media only screen and (max-width: 600px) {
  .button a {
    font-size: 1.4rem; } }

a:link, a:visited {
  color: #0d3a6d; }

a:hover, a:active {
  color: #0d3a6d;
  font-size: 1.5rem; }

.iframe-container {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  text-align: center; }

.video1 {
  margin-right: 50px; }

.video2 {
  margin-right: 50px; }

footer {
  display: flex;
  margin: 15rem; }

#footer {
  margin: 0 auto;
  text-align: center; }

.email, .mobil {
  border: 1px #595959 solid;
  padding: 10px;
  margin-top: 15px;
  color: #0d3a6d; }

.header {
  display: flex; }
  .header--img {
    margin: 7rem auto;
    max-width: 80%; }

#main {
  display: grid;
  grid-template-columns: repeat(7, minmax(1%, 1fr));
  margin: 8% 10%; }

.menu {
  justify-self: center; }

li {
  list-style-type: none;
  display: block;
  position: relative;
  margin-bottom: 16%;
  padding-bottom: 8%; }

li:hover {
  cursor: pointer; }

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  display: none;
  padding: 0;
  min-width: 100%; }

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block; }

ul li ul li {
  margin-top: 1%;
  margin-bottom: -1%;
  padding-top: 1%;
  padding-bottom: 1%; }

@media only screen and (max-width: 600px) {
  #main {
    font-size: 1.4rem; } }

a {
  text-decoration: none;
  font-family: helvetica;
  font-size: 1.1vw;
  letter-spacing: 1%;
  color: dimgrey;
  text-transform: uppercase;
  font-weight: 100; }

@media only screen and (max-width: 600px) {
  a {
    font-size: 1rem; }
  a:hover {
    color: #e86354;
    font-weight: 400; }
  .menu {
    grid-row: 1 / 2; } }
