footer {
    display:flex;
    margin:15rem;

}


#footer {
    margin: 0 auto;
    text-align: center;
}

.email, .mobil {
    border: 1px #595959 solid;
    padding: 10px;
    margin-top:15px;
    color:rgb(13, 58, 109);
}