.button {
width: 171px;
height: 55px;
border: 1px #595959 solid;
font-size: 1.4rem;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
color:red;
cursor: pointer;
background-color: white;
text-align: center;
margin-bottom: 5rem;
}


a:link, a:visited {

  
    color:rgb(6,27,51);

}

a:hover, a:active {
    color:rgb(6,27,51);
    font-size: 1.5rem;


}
