.button {
width: 171px;
height: 52px;
border: 1px rgb(13, 58, 109) solid;
font-size: 1.4rem;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
background-color: white;
text-align: center;
margin-bottom: 5rem;
color:rgb(13, 58, 109);
}

@media only screen and (max-width: 600px) {
    .button a  {
    font-size: 1.4rem;
    }
}

a:link, a:visited {

    color:rgb(13, 58, 109);


}

a:hover, a:active {
    color:rgb(13, 58, 109);

    font-size: 1.5rem
}

