
.cic-kraft {
    display: flex;
    justify-content: space-around;
    margin-bottom:60px;
  
}

.cic-circle {
    margin:1% 0 2% 4%;
}

.cic-li {
    display: block;
    position: relative;
    padding:0;
    margin:3% 0 2% 4%; 
}

.cic-link {
    text-decoration: underline;
}



  

  

 
 
  
    
    
   
 
    
   
