.circle-button {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.circles-button {
    display: flex;
    justify-content:space-around;
}


.btn {
    border: solid .5px black;
    border-radius: 50%;
    width:22rem;
    height:22rem;
    line-height: 22rem;
    display: inline-block;
    text-align: center;
}

.btn:hover {
    background-color: #CDC0C2;
    transform: scale(1.05) translateY(-.5rem);
}
