

.voc-intro {
    text-align: center;
}

.voc {
    display:grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: max-content(30%) auto max-content(33%);
    grid-gap: 10px;
    margin: 9rem auto;
    padding: 0 4rem;
    width: 850px;
    text-align: center;
    overflow:hidden;
}

.voc__title {  
    grid-column: 2 / 6;
    grid-row: 1 / 2;
}


.para {
    color: rgb(232,99,84);
}

.paragraph {
    transition: background 1s, transform .7s ease-in;
    padding:24px 38px;
    text-align: center;
    border: 1px solid #595959;
    font-size:1.6rem;
    align-items: center;

}

.paragraph:hover {
    //background: rgb(206, 168, 165);
    padding-top: 18px;
}


.p-erfahren {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  
}

.p-blockaden {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 

}

.p-ziele {
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
 
}
.voc-img {
    grid-column: 2 / 4;
    grid-row: 1/ 4; 
    width: 100%;
    max-height: 100%;

}

.p-berufsmusiker {
    grid-column: 4 / 5;
    grid-row: 1/ 2; 
    padding-top:19px;

}

.p-studioquali {
    grid-column: 4/ 5;
    grid-row: 2 / 3; 
}

.p-technic {
    grid-column: 4 / 5;
    grid-row: 3/ 4; 
}

.voc__button {
    margin: 5rem;
    grid-column: 2 / 4;
    grid-row: 4 / 5; 
    justify-self: center;
    align-self: flex-start;
   
   

}