.social {
    display: flex;
}

.social-icons {
    text-align: center;
 
}

.icon {
    margin: 0 10px;
}.social {
    display: flex;
}

.social-icons {
    text-align: center;
 
}

.icon {
    margin: 0 10px;
}